## Data Types


### Programming for Data Science
### Last Updated: Sep 16, 2025
---  


### PREREQUISITES
- variables

### SOURCES 
- python documentation on built-in data types, operations, methods  
https://docs.python.org/3/library/stdtypes.html  


- python data types  
https://www.geeksforgeeks.org/python-data-types/  


- mutable vs immutable data types  
https://www.geeksforgeeks.org/python/mutable-vs-immutable-objects-in-python

### OBJECTIVES
- Present the essential Python data types and demonstrate some functionality 
- Demonstrate the `format()` function for embedding data types into string expressions

NOTE: 
1. See sources for more details. As the course progresses, things will go deeper.  
2. We jump ahead a bit, showing functionality involving `if-statements` and `for-loops`,  
both covered in more detail later.


### CONCEPTS

- zero-based indexing
- boolean
- integer
- float
- string
- list
- tuple
- set
- dictionary (dict)
- enumerate
- range
- structuring strings containing data types
- data type conversions


---

### Introduction to Python Built-in Data Types

This notebook introduces essential Python built-in data types, their operations, and methods.  
Please refer to references above for more details.  
As the course progresses, the data types will be further detailed.  

Everything in Python is an object, or class instance (to be discussed later).

**Zero-based indexing**  
Python uses zero-based indexing, which means for a collection `mylist`

`mylist[0]` references the first element  
`mylist[1]` references the second element, etc

For any iterable object of length *N*:  
`mylist[:n]` will return the first *n* elements from index *0* to *n-1*  
`mylist[-n:]` will return the last *n* elements from index *N-n* to *N-1*

In [1]:
mylist = list(range(0,10))
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## I. Boolean

A `boolean` takes one of `True` or `False`, which are built-in values

check if `cache` is True, using `if` statement  
`if` statement using a bool evaluates to True or False

In [3]:
cache = True

if cache:
   print('data will be cached')

data will be cached

In [7]:
print(type(cache=1))

TypeError: type() takes 1 or 3 arguments

Look at documentation for `isinstance` function

In [8]:
isinstance.__doc__

'Return whether an object is an instance of a class or of a subclass thereof.\n\nA tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to\ncheck against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)\nor ...`` etc.'

In [9]:
# check if `cache` is a `bool`  

isinstance(cache, bool)

True

complex statements can be built with operators

In [13]:
cache = True
oome = False

if cache or oome:
    print('condition met!')

condition met!

AND statements will short circuit if an early condition fails.

In [12]:
if oome and cache:
    print('condition met!')

In this case, since *oome* is False, the check on *cache* never happens.

## II. Numeric Values

Numeric values can be `int`, `float`, `complex`

## III. Integer

Positive or negative whole numbers

In [14]:
epoch   = 21
divisor = 10
print('quotient:', epoch // divisor)
print('remainder:', epoch % divisor)

quotient: 2
remainder: 1

In [ ]:
print(type(epoch))

In [ ]:
isinstance(epoch, int)

## IV. Float

Real number with floating point representation. Specified by a decimal point.

In [ ]:
f1_score = 0.95

In [ ]:
print(type(f1_score))

In [15]:
isinstance(f1_score, float)

NameError: name 'f1_score' is not defined

## V. String

A string is an array of bytes representing Unicode characters

Defined with single, double, or triple quotes

In [16]:
status = 'success'

In [17]:
print(type(status))

<class 'str'>

In [18]:
isinstance(status, str)

True

Subsetting into a string

In [19]:
# extract first 2 characters
status[:2]

'su'

In [20]:
# extract last 2 characters
status[-2:]

'ss'

In [21]:
status.startswith('a')

False

In [22]:
status.endswith('s')

True

it is NOT possible to reassign elements of a string. Python strings are **immutable**.

In [23]:
status = 'success'
status[0] = 't'

TypeError: 'str' object does not support item assignment

Add strings and handle pathing

In [ ]:
str1 = '/Users/ys2952/Documents/repo/hudm5001/' # change this based on your working directory 
str2 = 'lecture_notes/python/iris_data.csv'

In [ ]:
str1_2 = str1 + str2
print(str1_2)

Set path to data file and read in

In [24]:
import os
full_data_path = os.path.join(str1, str2)

import pandas as pd
pd.read_csv(full_data_path)

NameError: name 'str1' is not defined

### TRY FOR YOURSELF (UNGRADED EXERCISES)

1) Define a string and print:
- the first three characters of the string
- the last three characters of the string

In [25]:
mystr = 'python'
print(mystr[:3])
print(mystr[-3:])

pyt
hon

## VI. List

A list is an ordered sequence of items. They can contain mixed types.

In [26]:
mixed = ['a', 5 ,3.2]
print(mixed)

['a', 5, 3.2]

list of floats

In [27]:
trans = [3.14, 2.71]

In [28]:
print(type(trans))

<class 'list'>

In [29]:
trans[1]

2.71

In [30]:
# out of range, will break

trans[2]

IndexError: list index out of range

cannot subset into a float, will break

In [31]:
trans[1][1]

TypeError: 'float' object is not subscriptable

but you can do this:

In [32]:
str(trans[1])[1]

'.'

list of strings

In [33]:
financial_derivatives = ['futures','swaps','options']

In [34]:
print(type(financial_derivatives))

<class 'list'>

In [35]:
isinstance(financial_derivatives, list)

True

elements are strings

In [ ]:
isinstance(financial_derivatives[0], str)

indexing into the list

In [36]:
print('first     :',financial_derivatives[0])
print('first two :',financial_derivatives[:2])
print('last      :',financial_derivatives[-1])
print('last two  :',financial_derivatives[-2:])

first     : futures
first two : ['futures', 'swaps']
last      : options
last two  : ['swaps', 'options']

index into first element, extracting first three characters from string:

In [37]:
financial_derivatives[0][:3]

'fut'

loop over the derivatives, printing them with their string lengths

In [38]:
for deriv in financial_derivatives:
    print(deriv, len(deriv))

futures 7
swaps 5
options 7

`enumerate` the list, which extracts index value and data

In [42]:
enumerate.__doc__

'Return an enumerate object.\n\n  iterable\n    an object supporting iteration\n\nThe enumerate object yields pairs containing a count (from start, which\ndefaults to zero) and a value yielded by the iterable argument.\n\nenumerate is useful for obtaining an indexed list:\n    (0, seq[0]), (1, seq[1]), (2, seq[2]), ...'

In [40]:
for ix, deriv in enumerate(financial_derivatives):
    print('index:', ix, ', derivative:', deriv)

index: 0 , derivative: futures
index: 1 , derivative: swaps
index: 2 , derivative: options

In [41]:
# just print the pairs

for ix, deriv in enumerate(financial_derivatives):
    print(ix, deriv)

0 futures
1 swaps
2 options

Lists can be added together

In [43]:
variables = ['x1', 'x2', 'x3']
response = ['y']

variables + response

['x1', 'x2', 'x3', 'y']

### TRY FOR YOURSELF (UNGRADED EXERCISES)

2) Assign values to a list, and print the second element from the list

In [44]:
mylist = ['first','second','third']
print(mylist[1])

second

## VII. Tuple

A tuple can contain any number of elements of any datatype  
Created with comma-separated values, with or without parenthesis

In [45]:
# define a tuple of mixed types

grab_bag = (4, 'EHR', ['year','in','review',2000])
grab_bag

(4, 'EHR', ['year', 'in', 'review', 2000])

In [46]:
grab_bag_no_parens = 4, 'EHR', ['year','in','review']
grab_bag_no_parens

(4, 'EHR', ['year', 'in', 'review'])

In [47]:
print(type(grab_bag))

<class 'tuple'>

In [48]:
isinstance(grab_bag, tuple)

True

In [49]:
# show the first element

grab_bag[0]

4

In [50]:
# show the last element

grab_bag[-1]

['year', 'in', 'review', 2000]

In [51]:
grab_bag[0] = 5

TypeError: 'tuple' object does not support item assignment

Tuples, like strings, are immutable.  
What happens when we try to reassign `grab_bag` ?

Define a tuple of strings

In [52]:
coffees = ('brazilian','costa_rican','colombian')

if `coffees` is a tuple, print the first element

In [53]:
if isinstance(coffees, tuple):
    print(coffees[0])

brazilian

In [54]:
for coffee in coffees:
    print(coffee)

brazilian
costa_rican
colombian

In [55]:
for ix, coffee in enumerate(coffees):
    print(ix, coffee)

0 brazilian
1 costa_rican
2 colombian

### TRY FOR YOURSELF (UNGRADED EXERCISES)

3) Assign values to a tuple  
Enumerate the tuple, printing each index and value

In [56]:
flags = (1, 0, 1, 1)

for ix, flag in enumerate(flags):
    print(ix, flag)

0 1
1 0
2 1
3 1

## VIII. Set

A `set` is an unordered collection of unique objects

In [57]:
empty_set = {}
empty_set

{}

In [58]:
peanuts = {'snoopy','snoopy','woodstock'}

In [59]:
print(type(peanuts))

<class 'set'>

In [60]:
peanuts

{'snoopy', 'woodstock'}

Note the set is deduped

Since sets are unordered, they don't have an index. This will break:

In [61]:
peanuts[0]

TypeError: 'set' object is not subscriptable

In [62]:
for peanut in peanuts:
    print(peanut)

snoopy
woodstock

**Check if a value is in the set using `in`**

In [63]:
'snoopy' in peanuts

True

Combine two sets

In [64]:
set1 = {'python','R'}
set2 = {'R','SQL'}

This fails:

In [65]:
set1 + set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

This succeeds:

In [66]:
set1.union(set2)

{'R', 'SQL', 'python'}

Get the set intersection

In [67]:
set1.intersection(set2)

{'R'}

### TRY FOR YOURSELF (UNGRADED EXERCISES)

4) Assign a value to a string, and assign values to a set

Check if the string is in the set

In [68]:
val = 'ERROR'
levels = {'WARN','ERROR','CRITICAL'}

val in levels

True

## IX. Dict

A `dictionary` or `dict` is an unordered collection of unique key-value pairs

They follow this format:

{'key1' : 'value1', 'key2' : 'value2', ...}

In [69]:
airports = {'LAGUARDIA':'LGA','LOGAN':'BOS','NANTUCKET':'ACK','CHARLOTTESVILLE':'CHO'}

In [70]:
print(type(airports))

<class 'dict'>

In [71]:
airports

{'LAGUARDIA': 'LGA',
 'LOGAN': 'BOS',
 'NANTUCKET': 'ACK',
 'CHARLOTTESVILLE': 'CHO'}

can index by key

In [72]:
airports['LOGAN']

'BOS'

can't index like this, since it treats the index as a key:

In [73]:
airports[0]

KeyError: 0

more failure...attempting to access a nonexistent key will throw an error:

In [74]:
airports['KENNEDY']

KeyError: 'KENNEDY'

safer to use `get` (nothing returns)

In [78]:
airports.get('KENNEDY')

can assign like this:

In [79]:
airports['DULLES'] = 'IAD'

In [80]:
airports

{'LAGUARDIA': 'LGA',
 'LOGAN': 'BOS',
 'NANTUCKET': 'ACK',
 'CHARLOTTESVILLE': 'CHO',
 'DULLES': 'IAD'}

extract keys

In [81]:
airports.keys()

dict_keys(['LAGUARDIA', 'LOGAN', 'NANTUCKET', 'CHARLOTTESVILLE', 'DULLES'])

loop over the airports, printing the keys

In [82]:
for key in airports.keys():
    print(key)

LAGUARDIA
LOGAN
NANTUCKET
CHARLOTTESVILLE
DULLES

extract values

In [83]:
airports.values()

dict_values(['LGA', 'BOS', 'ACK', 'CHO', 'IAD'])

save the values as a list

In [84]:
airport_codes = list(airports.values())

print(airport_codes)

['LGA', 'BOS', 'ACK', 'CHO', 'IAD']

extract keys and values using `items()`

In [85]:
airports.items()

dict_items([('LAGUARDIA', 'LGA'), ('LOGAN', 'BOS'), ('NANTUCKET', 'ACK'), ('CHARLOTTESVILLE', 'CHO'), ('DULLES', 'IAD')])

loop over the airports, printing the keys and values

In [86]:
for key, val in airports.items():
    print(key, '-', val)

LAGUARDIA - LGA
LOGAN - BOS
NANTUCKET - ACK
CHARLOTTESVILLE - CHO
DULLES - IAD

### TRY FOR YOURSELF (UNGRADED EXERCISES)

5) Create a dictionary containing at least three key-value pairs  

Show how to index into the dict with one of the keys to extract the corresponding value using `get()`

Show how to store the keys in a list.

In [ ]:
name_age = {'greg':15, 'annabel':22, 'joaquin':19}

print('name_age[joaquin]=', name_age.get('joaquin'))


names = list(name_age.keys())

print('names:', names)

## X. Range

A range is a sequence of integers, from `start` to `stop` by `step`  
The `start` point is zero by default.  
The `step` is one by default.  
The `stop` point is NOT included.

Ranges can be assigned to a variable.

In [87]:
rng = range(5)

In [88]:
print(type(rng))

<class 'range'>

In [89]:
for rn in rng:
    print(rn)

0
1
2
3
4

another range:

In [90]:
rangy = range(1, 11, 2)
for rn in rangy:
    print(rn)

1
3
5
7
9

### TRY FOR YOURSELF (UNGRADED EXERCISES)

6) More often, ranges may be used without assignment.  
What will this print?

In [91]:
for rn in range(-5, 5, 2):
    print(rn)

-5
-3
-1
1
3

## XI. `format()`  

Variable values can be embeded in strings using the `format()` function.  
Place {} in the string in order from left to right. followed by `.format(var1, var2, ...`)`

In [92]:
epoch = 20
loss = 1.55

print('Epoch: {}, loss: {}'.format(epoch, loss))

Epoch: 20, loss: 1.55

This breaks, as three variables are required based on number of {}

In [93]:
print('Epoch: {}, loop: {}, loss: {}'.format(epoch, loss))

IndexError: Replacement index 2 out of range for positional args tuple

---

### TRY FOR YOURSELF (UNGRADED EXERCISES)

7) Use `format()` to print a string containing each variable name followed by its value, using comma separators between the variables (e.g., epoch 1, mode TRAIN, ...)

In [94]:
epoch = 1
mode = "TRAIN"
loss = 0.46

print("YOUR STRING HERE")

YOUR STRING HERE

In [95]:
epoch = 1
mode = "TRAIN"
loss = 0.46

print("epoch {}, mode {}, loss {}".format(epoch, mode, loss))

epoch 1, mode TRAIN, loss 0.46

8) Define a list containing one each of: integer, float, bool, string

Print the length of the list using `len()`

In [ ]:
mylist = [4, 2.2, False, 'fancy']

print(len(mylist))

Write a `for-loop` to iterate over the list, printing the val and `type()` of each element.

In [ ]:
for val in mylist:
    print(val, type(val))

## XII. Data Type Conversions

There are many functions for converting between data types.

`float -> int` : chops the decimal

In [96]:
val = 3.8
print('value: {}, type: {}'.format(val, type(val)))

val_int = int(val)
print('value: {}, type: {}'.format(val_int, type(val_int)))

value: 3.8, type: <class 'float'>
value: 3, type: <class 'int'>

`string -> float`

In [ ]:
val = '3.8'
print('value: {}, type: {}'.format(val, type(val)))

val_int = float(val)
print('value: {}, type: {}'.format(val_int, type(val_int)))

**Converting string decimal to integer will fail:**

In [ ]:
val = '3.8'
print('value: {}, type: {}'.format(val, type(val)))

val_int = int(val)
print('value: {}, type: {}'.format(val_int, type(val_int)))

`list -> dictionary` using `fromkeys`. values default to None.

In [97]:
month = ["jan", "feb", "mar"]

month_dict = dict.fromkeys(month)
month_dict

{'jan': None, 'feb': None, 'mar': None}

Advice: many other sensible conversions are supported; the documentation can help.

---